@charset "UTF-8";

body {
    width: 340px;
}



.flame07 {
font-size: 1.2em;
padding: 0em 10px;
margin: 0em auto;
width:90%;
border: double 5px #dc143c;
}

.flame29 {
margin: 2em 0;
background: #ffdddd;
}
.flame29 .flame29-title {
font-size: 1.2em;
background: #a80000;
padding: 4px;
text-align: center;
color: #FFF;
font-weight: bold;
letter-spacing: 0.05em;
}
.flame29 p {
padding: 15px 20px;
margin: 0;
}

